@import "rouge-github";

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color: #373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-weight: 700;
  color: #222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  margin-top: 0px;
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 8px 0 12px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #0F79D0;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover,
a:focus {
  text-decoration: underline;
}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em,
cite {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  border: 1px solid #c8c8c8;

  box-shadow: 0 0 3px #c8c8c8;
  -webkit-box-shadow: 0 0 3px #c8c8c8;
  -moz-box-shadow: 0 0 3px #c8c8c8;
  -o-box-shadow: 0 0 3px #c8c8c8;
  -ms-box-shadow: 0 0 3px #c8c8c8;
}

.trailerscreen {
  width: 233px;
  height: 131px;
  margin-right: 7px;
}

.trailer {
  width: 480px;
  height: 270px;

  border: 1px solid #c8c8c8;
  box-shadow: 0 0 3px #c8c8c8;
  -webkit-box-shadow: 0 0 3px #c8c8c8;
  -moz-box-shadow: 0 0 3px #c8c8c8;
  -o-box-shadow: 0 0 3px #c8c8c8;
  -ms-box-shadow: 0 0 3px #c8c8c8;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre,
code {
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 0.875em;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}


ul,
ol,
dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  margin-bottom: 15px;
  vertical-align: middle;
}

th {
  font: inherit;
  padding: 0px;
}

th img {
  margin-right: 10px;
}

td {
  font: inherit;
  padding: 0px;
  border: 0px;
}

form {
  background: #f2f2f2;
  padding: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
  min-width: 750px;
}

.inner {
  position: relative;
  width: 100%;
  padding: 10px 10px;
  margin: 0 auto;
}

#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(to top, #373737, #212121);
}

#header_wrap .inner {
  padding: 15px 10px 15px 10px;
}

#project_title,
#project_title a {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

.resume {
  margin: 0;
  color: #fff;
  text-align: right;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 500;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

.resume img {
  border: 1px solid #dfdfdf;
  box-shadow: 0 0 3px #dfdfdf;
  -webkit-box-shadow: 0 0 3px #dfdfdf;
  -moz-box-shadow: 0 0 3px #dfdfdf;
  -o-box-shadow: 0 0 3px #dfdfdf;
  -ms-box-shadow: 0 0 3px #dfdfdf;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 10px;
  text-align: justify;
  text-align-last: justify;
}

#main_content h1,
#main_content h2,
#main_content h3,
#main_content h4,
#main_content p,
#main_content div,
#main_content ul,
#main_content li {
  text-align: left;
  text-align-last: left;
}

#main_content h4 {
  text-align: center;
  text-align-last: center;
}

#footer_wrap {
  background: #212121;
}

.game {
  display: inline-block;
  width: 720px;
}

.contact {
  text-align: justify;
  text-align-last: justify;
}

.contact div {
  display: inline-block;
  color: #f2f2f2;
  text-align: left;
  text-align-last: left;
}

@media screen and (min-width: 1500px) {
  .inner {
    width: 1450px;
  }
}

@media screen and (max-width: 1499px) and (min-width: 750px) {
  .inner {
    width: 750px;
  }
}

@media screen and (max-width: 749) {
  .inner {
    width: 100%;
  }
}