<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
</head>

<body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
            <table style="width: 100%; margin-bottom: -20px;">
                <tr>
                    <td>
                        <h1 id="project_title"><a href="/">Axel BORN</a></h1>
                        <h2 id="project_tagline">Game Developer</h2>
                    </td>
                    <td style="vertical-align: bottom; padding-bottom: 20px;">
                        <h4 class="resume"><a href="/cv/CV_BORN_Axel.pdf"><b>CV</b>
                                <span style="margin-left:8px"></span><img src="/img/flag_fr.png" width="18" height="12"></a></h5>
                            <h4 class="resume"><a href="/cv/Resume_BORN_Axel.pdf"><b>Resume</b>
                                    <span style="margin-left:8px"></span><img src="/img/flag_gb.png" width="18" height="12"></a></h5>
                    </td>
                </tr>
            </table>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
            {{ content }}
        </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer class="inner">
            <div class="contact">
                <div><strong>Mail :</strong> <a href="mailto:axelvborn@gmail.com">axelvborn@gmail.com</a></div>
                <div><strong>Discord :</strong> Vladadamm#3001</div>
                <div><strong>Twitter :</strong> <a href="https://twitter.com/axelvborn">@axelvborn</a></div>
                <div><strong>Mastodon :</strong> <a rel="me" href="https://mastodon.gamedev.place/@axelvborn">@axelvborn@mastodon.gamedev.place</a></div>
            </div>
            <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
        </footer>
    </div>

    {% if site.google_analytics %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
</body>

</html>